<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Orders</title>
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <!-- css -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../styles/main.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../styles/order.css" />
    <!-- js -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="../controls/controls.js"></script>
</head>

<body>
    <% include ./partials/navbar %>

    <h1>Your Order</h1>

    <div class='Orders'>
            <% orders.forEach(function(order){%>
                <div class="OrderCard">
                    <table class="order-desc">
                        <tr>
                            <th style="width:15%">Order Placed</th>
                            <th style="width:15%">Total</th>
                            <th style="width:70%">Order #</th>
                        </tr>
                        <tr>
                            <td style="width:15%">April 3rd, 2018</td>
                            <td style="width:15%">$<%=order.total.toFixed(2)%></td>
                            <td style="width:70%"><%=order._id%></td>
                        </tr>
                    </table>
                    <div class="order-content">
                        <div class="orderItems">
                            <%order.items.forEach(function(item){ console.log(item); %>
                                <div class="Item">
                                    <div class="img"><img src="<%=item.image%>" /></div>
                                    <div class="title"><strong><%=item.title%></strong></div>
                                    <div class="qty"><strong>Amount: </strong><%=item.quantity%></div>
                                    <div class='total'><strong>SubTotal: </strong>$<%=(item.price * item.quantity).toFixed(2)%></div>
                                </div>
                            <%})%>
                        </div>
                        <ul class="orderFeedback">
                            <li>
                                <a>Leave Seller feedback</a>
                            </li>
                            <li>
                                <a>Write a product review</a>
                            </li>
                        </ul>
                    </div>
                </div>
            <%})%>
    </div>
</body>

</html>